/****************************************************************
Mobile Styling (<768px)
****************************************************************/

#page-home {
    .section {
        &.section-banner {
            @apply pb-0; /* allow mobile image cutoff */

            .container {
                @apply min-h-0;
            }

            .col-image {
                @apply bg-no-repeat bg-contain;
                background-image: url('/images/homepagesite/graphics/homepage-hero-mobile.jpg');
                background-position: center 48px;
                height: 540px;
            }
        }

        &.section-intro {
            @apply p-6;

            .container {
                @apply block;
            }

            .intro {
                @apply text-center pt-8;

                h2 {
                    @apply text-3xl font-bold mb-8;
                }

                p {
                    @apply text-gray-darkest mb-8;
                }

                img {
                    @apply block mx-auto;
                }
            }
        }

        &.section-how {
            @apply p-6 pb-12;

            .container {
                @apply block;
            }

            .how {
                @apply py-6;

                .col-left,
                .col-right {
                    @apply text-center;
                }

                .content {
                    @apply pb-6;

                    h2 {
                        @apply text-2xl font-bold mb-4;
                    }

                    p {
                        @apply text-gray-darkest mb-4;
                    }
                }

                .image-wrap {
                    @apply w-9/12 mx-auto my-4;
                }
            }
        }

        &.section-path {
            @apply p-6 border-t border-gray-lighter;

            .container {
                @apply block;
            }

            .content {
                @apply pt-4 pb-10 text-center;

                h2 {
                    @apply text-3xl font-bold mb-6;
                }

                p {
                    @apply text-gray-darkest;
                }
            }

            .comparison {
                .col {
                    @apply text-center;

                    &.col-image {
                        img {
                            @apply block mx-auto my-8;
                        }
                    }

                    h3 {
                        @apply font-semibold text-xl mb-4;
                    }

                    .stat {
                        @apply block text-gray-light font-semibold uppercase mb-4;

                        .value {
                            @apply block text-3xl text-pink -mb-1;
                        }

                        &.stat-with {
                            .value {
                                @apply font-bold text-green-saturated;
                            }
                        }
                    }
                }
            }
        }

        &.section-trust {
            @apply bg-navy-darkest py-10;

            .container {
                @apply block text-center;
            }

            h2 {
                @apply uppercase text-lg text-gray-lighter;
            }

            .stats {
                @apply py-4;

                .stat {
                    @apply text-center py-4;

                    h3 {
                        @apply text-3xl font-bold text-green;
                    }

                    p {
                        @apply text-white uppercase;
                    }
                }
            }
        }
    }
} /* end .page-home */

/****************************************************************
Desktop Styling (>768px)
****************************************************************/

@screen md {
    #page-home {
        .section {
            &.section-banner {
                @apply px-6;

                .content {
                    width: 52%;
                }

                .col-image {
                    @apply flex-1 p-0;
                    background-image: url('/images/homepagesite/graphics/homepage-hero.svg');
                    height: calc(100vh - 96px);
                    filter: drop-shadow(6px 8px 0px rgba(0, 0, 0, 0.15));
                }
            }

            &.section-intro {
                .intro {
                    @apply pt-10 mb-8;

                    p {
                        @apply mx-auto;
                        max-width: 640px;
                    }
                }
            }

            &.section-how {
                .how {
                    @apply flex py-24;

                    .col-left,
                    .col-right {
                        @apply flex items-center w-1/2;
                    }

                    .col-left {
                        @apply text-right;

                        h2,
                        p {
                            @apply text-left;
                        }
                    }

                    .col-right {
                        h2,
                        p {
                            @apply text-left;
                        }
                    }

                    .content {
                        @apply px-6;

                        h2 {
                            @apply text-3xl mb-6;
                        }

                        p {
                            @apply mb-6;
                        }
                    }
                }
            }

            &.section-path {
                @apply py-12;

                .content {
                    @apply pt-6 pb-12 mx-auto;
                    max-width: 640px;
                }

                .comparison {
                    @apply flex mb-10 items-center;

                    .col {
                        @apply w-1/3 px-6 text-left;

                        &:first-child {
                            @apply text-right;
                        }

                        h3 {
                            @apply mb-6;
                        }

                        .stat {
                            @apply mb-6;
                        }
                    }
                }
            }

            &.section-trust {
                @apply py-10;

                h2 {
                    @apply text-xl;
                }

                .stats {
                    @apply flex flex-nowrap py-0;

                    .stat {
                        @apply flex-1;
                    }
                }
            }
        }
    }
}

/****************************************************************
Desktop Styling (>1024px)
****************************************************************/

@screen lg {
    #page-home {
        .section {
            &.section-banner {
                .container {
                    @apply max-w-none;
                }

                .content {
                    @apply pl-2 pr-16;
                }
            }
        }
    }
}
